header {
    color: white;
}

.upper-header {
    display: flex;
    padding: 10px 6px;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    background-color: rgb(19, 25, 33);
}

.left-section {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.amazon-logo-div {
    height: 46px;
    border: 1px solid rgb(19, 25, 33);
    cursor: pointer;
    width: 120px;
    background-image: url('/icons/icon_bundle.png');
    background-position: 0px -42px;
}

.amazon-logo-div:hover {
    border-color: white;
}

.deliver-to-div {
    display: flex;
    height: 46px;
    padding: 0px 4px;
    border: 1px solid rgb(19, 25, 33);
    cursor: pointer;
}

.deliver-to-div:hover {
    border-color: white;
}

.location-icon-div {
    width: 20px;
    height: 22px;
    margin-top: 16px;
    background-image: url('/icons/icon_bundle.png');
    background-position: -70px -375px;
}

.deliver-to-div .text-div {
    padding-top: 10px;
}

.deliver-to-div .text1 {
    color: rgb(168, 168, 168);
}

.deliver-to-div .text2 {
    font-size: 14px;
    font-weight: bold;
}

.middle-section {
    display: flex;
    align-items: center;
    flex: 1;
    overflow: hidden;
    border-radius: 4px;
    max-width: 1000px;
}

.all-button {
    height: 40px;
    width: 60px;
    border: none;
}

.search-bar {
    width: 100%;
    height: 40px;
    padding: 0px 5px;
    border: none;
    border-left: 1px solid rgb(190, 190, 190);
    font-size: 16px;
}

.search-button-div {
    border: none;
    height: 40px;
    background-color: orange;
    background-image: url('/icons/icon_bundle.png');
    background-position: 5px -280px;
}

.search-button {
    height: 40px;
    width: 50px;
    border: none;
    background: none;
    padding: 0;
}

.right-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.language-chooser-div {
    display: flex;
    column-gap: 5px;
    height: 46px;
    padding: 0px 8px;
    border: 1px solid rgb(19, 25, 33);
    cursor: pointer;
}

.language-chooser-div:hover {
    border-color: white;
}

.flag {
    width: 25px;
    padding-top: 10px;
    object-fit: contain;
}

.language-chooser-div .text {
    font-size: 14px;
    font-weight: bold;
    padding-top: 20px;
}

.login-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 8px;
    border: 1px solid rgb(19, 25, 33);
    height: 46px;
    cursor: pointer;
}

.login-div:hover {
    border-color: white;
}

.login-div .text2 {
    font-size: 14px;
    font-weight: bold;
}

.orders-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 8px;
    border: 1px solid rgb(19, 25, 33);
    height: 46px;
    cursor: pointer;
}

.orders-div:hover {
    border-color: white;
}

.orders-div .text2 {
    font-size: 14px;
    font-weight: bold;
}

.cart-div {
    display: flex;
    align-items: center;
    height: 46px;
    padding: 0px 8px;
    border: 1px solid rgb(19, 25, 33);
    cursor: pointer;
}

.cart-div:hover {
    border-color: white;
}

.cart-image.div {
    position: relative;
}

.cart-image {
    width: 50px;
}

.cart-count-div {
    position: absolute;
    top: 18px;
    right: 58px;
}

.cart-count {
    color: orange;
    font-size: 16px;
}

.cart-div .text {
    font-size: 14px;
    padding-top: 15px;
    font-weight: bold;
}

.lower-header {
    display: flex;
    background-color: rgb(35, 47, 62);
    font-size: 14px;
    font-weight: bold;
    padding-left: 6px;
}

.lower-header-div {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 5px 10px;
    border: 1px solid rgb(35, 47, 62);
    cursor: pointer;
}

.lower-header-div:hover {
    border-color: white;
}

.hamburger-menu-div {
    height: 30px;
    width: 30px;
    background-image: url('/icons/icon_bundle.png');
    background-position: -168px -248px;
}