main {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.main-section {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(220, 220, 220, 0), rgb(220, 220, 220, 1)),
        url('/backgrounds/main_background.JPG');
    background-size: cover;
    max-width: 1500px;
    width: 90%;
    background-size: 100% 600px;
    background-repeat: no-repeat;
}

.top-slider-div {
    height: 230px;
}

.grid-div {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 350px 350px 350px 350px;
}

.grid-object-div {
    background-color: white;
    height: 380px;
    padding: 20px 20px;
}

.grid-object-div .title {
    font-size: 20px;
    font-weight: bold;
}

.grid-object-div-special-upper {
    background-color: white;
    height: 100px;
    padding: 20px 20px;
}

.grid-object-div-special-upper .title {
    font-size: 20px;
    font-weight: bold;
}

.grid-object-div-special-upper .secure-sign-in {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 204, 0);
    padding: 6px 0px;
    margin-top: 15px;
    border-radius: 10px;
    font-size: 13px;
}

.grid-object-div-special-lower {
    background-color: rgb(64, 189, 242);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 260px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.grid-object-div-special-lower .text {
    width: 150px;
}

.slider-div {
    display: flex;
    height: 200px;
    background-color: white;
    max-width: 1420px;
    width: 100%;
    padding: 20px 20px;
}

.slider-div .title {
    font-size: 20px;
    font-weight: bold;
}